html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

div, h1 {
  width: 100%;
}

h1 {
  margin: 0;
}

div.parent-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
}

h1.header {
  background-color: #177ECC;
  flex-direction: column;
}

div.name-container {
  background-color: #6691B2;
  flex-direction: column;
}

div.superhero-container {
  background-color: #177ECC;
  flex-direction: column;
}

div.music-container {
  background-color: #6691B2;
  flex-direction: column;
}

div.color-container {
  background-color: #177ECC;
  flex-direction: column;
}

div.holiday-container {
  background-color: #6691B2;
  flex-direction: column;
}

div.cartoon-container {
  background-color: #177ECC;
  flex-direction: column;
}

div.subject-container {
  background-color: #6691B2;
  flex-direction: column;
}

div.food-container {
  background-color: #177ECC;
  flex-direction: column;
}
